<div fxLayout="row">
  <div fxFlex="50%" class="margin-auto">
    <app-simulation-editor
      (onStartedSimulation)="startSimulation($event)"
      (onStepCliked)="step($event)"
      (onSkipAllStepsClicked)="skipAllSteps($event)">
    </app-simulation-editor>
  </div>
  <div fxFlex="50%" class="margin-auto" *ngIf="simulator != null">
    <app-algorithm-demo></app-algorithm-demo>
  </div>
</div>
<mat-card class="top-level-card">
  <mat-form-field class="form-field">
    <textarea matInput [ngModel]="eventLog" rows="20" title="Historia zdarzeń"></textarea>
  </mat-form-field>
</mat-card>


