<mat-tab-group>
  <mat-tab label="Symulator">
    <div fxLayout="row">
      <div fxFlex="50%" class="margin-auto">
        <app-simulation-editor [(simulationParams)]="inputSimulationParams"></app-simulation-editor>
        <!-- Przyciski zarządzania symulacją !-->
        <mat-card class="down-level-card" >
          <mat-card-content>
            <div class="button-row">
              <button mat-raised-button color="warn" (click)="startSimulation()" style="float:left; margin-bottom: 1em;">Rozpocznij nową symulację</button>
            </div>
            <div class="button-row">
              <button mat-raised-button color="primary" (click)="step()" [disabled]="!isSimulationRunning() || isSimulationFinished()">Krok symulacji</button>
              <button mat-raised-button color="primary" (click)="skipAllSteps()"  [disabled]="!isSimulationRunning() || isSimulationFinished()">Pomiń wszystkie kroki</button>
              <button mat-raised-button color="primary" (click)="skipCalculatingCells()"  [disabled]="!isSimulationRunning() || isCubeFilled()">Pomiń wypełnianie kostki</button>
            </div>
          </mat-card-content>
        </mat-card>
        <!-- Wyniki symulacji !-->
        <mat-card class="down-level-card" *ngIf="isSimulationFinished()">
          <mat-card-title>Wynik - dopasowanie sekwencji</mat-card-title>
          <mat-card-content>
            <div fxLayout="row">
              <div fxFlex="100%" class="score">Sekwencja 1: {{results[0]}}</div>
            </div>
            <div fxLayout="row">
              <div fxFlex="100%" class="score">Sekwencja 2: {{results[1]}}</div>
            </div>
            <div fxLayout="row">
              <div fxFlex="100%" class="score">Sekwencja 3: {{results[2]}}</div>
            </div>
          </mat-card-content>
        </mat-card>
        <!-- Objaśnienie obecnego kroku !-->
        <mat-card class="down-level-card" *ngIf="isSimulationRunning()">
          <mat-card-title>Objaśnienie obecnego kroku</mat-card-title>
          <mat-card-content><span class="score">{{currentStepExplanation}}</span></mat-card-content>
        </mat-card>
      </div>
      <!-- Demo !-->
      <div fxFlex="50%" class="margin-auto">
        <app-algorithm-demo [(simulator)]="simulator"></app-algorithm-demo>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="O projekcie">
    <mat-card class="top-level-card">
      <mat-card-title>O projekcie</mat-card-title>
      <mat-card-content>
        <p>
          Projekt został wykonany w ramach przedmiotu Metody Bioinformatyki w semestrze 2017Z na Wydziale Elektroniki
          i Technik Informacyjnych Politechniki Warszawskiej. Prowadzącym projekt był dr hab. inż. Robert Nowak,
          a w skład zespołu projektowego wchodził Łukasz Szymczyk i Wojciech Zieliński.
        </p>
        <p>
          W ramach projektu należało napisać aplikację, która pozwala zrozumieć działanie algorytmu znajdującego
          uliniowienie trzech sekwencji metodą programowania dynamicznego. Użytkownik może wprowadzić własne dane
          i śledzić (krok po kroku) sposób wykonywania obliczeń.
        </p>
        <a mat-raised-button color="primary" href="https://github.com/lukasz936/eiti_mbi_sequence_alignment">GitHub</a>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Testy">
    <app-simulation-performance></app-simulation-performance>
  </mat-tab>
</mat-tab-group>

