.top-level-card {
  min-width: 150px;
  max-width: 800px;
  margin: 2px;
}

#canvasCube {
  width: 100%;
  height: 100%;
}

#canvasCubeWall {
  width: 100%;
  height: 100%;
}

.center {
  text-align: center;
}

mat-card {
  margin-bottom: 2em;
}

#bottom{
  width: 200px;
  height: 200px;
  background-color: black;
}
#top{
  width:100px;
  height:200px;
  background-color:red;
  z-index: 999;
}
