.form-field {
  width: 100%;
}

.center {
  text-align: center;
}

mat-card {
  margin-bottom: 2em;
}

.margin {
  margin-left: 5px;
  margin-right: 5px;
}

.down-level-card {
  min-width: 300px;
  max-width: 800px;
  margin: 10px;
}
