<mat-card class="top-level-card">
  <mat-card-title>Parametry symulacji</mat-card-title>
  <mat-card>
    <mat-card-title>Sekwencje</mat-card-title>
    <mat-card-content>
      <mat-form-field class="form-field" *ngFor="let i of [0, 1, 2]">
        <input matInput [(ngModel)]="simulationParams.sequences[i]" appSequenceInput title="Sekwencja {{i + 1}}"/>
        <mat-placeholder>Sekwencja {{i + 1}}</mat-placeholder>
        <mat-hint align="end">A, C, G, T</mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Macierz dopasowania</mat-card-title>
    <mat-card-content>
      <table>
        <tr>
          <td></td>
          <th *ngFor="let i of ['A', 'G', 'C', 'T', '-']" class="center">{{i}}</th>
        </tr>
        <tr *ngFor="let i of ['A', 'G', 'C', 'T', '-']">
          <th>{{i}}</th>
          <td *ngFor="let j of ['A', 'G', 'C', 'T', '-']">
            <input type="number" matInput [(ngModel)]="simulationParams.fitnesMatrix[i][j]" class="center" title="Komórka macierzy"/>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
  <div class="button-row">
    <button mat-raised-button (click)="startSimulation()">Nowa symulacja</button>
    <button mat-raised-button (click)="step()" *ngIf="simulator != null">Krok symulacji</button>
    <button mat-raised-button (click)="skipAllSteps()" *ngIf="simulator != null">Pomiń kroki symulacji</button>
  </div>
  <canvas #simulationDemo width="500" height="500"></canvas>
</mat-card>
<mat-card class="top-level-card" *ngIf="simulator != null">
  <mat-form-field class="form-field">
    <textarea matInput [ngModel]="eventLog" rows="20" title="Historia zdarzeń"></textarea>
  </mat-form-field>
</mat-card>
